# 21_파이썬자료형-복합자료형2(튜플)

In [3]:
a = (1, 3, 5, 7, 9) 
b = (2, 4, 6, 8)
type(a)     # ... 코드 입력

tuple

In [5]:
a[2]     # ... 코드 입력

5

In [7]:
a[:4]     # ... 코드 입력

(1, 3, 5, 7)

In [9]:
a + b

(1, 3, 5, 7, 9, 2, 4, 6, 8)

In [11]:
c = [4, 8 , 9]

In [13]:
a + c

TypeError: can only concatenate tuple (not "list") to tuple

In [15]:
a * 3

(1, 3, 5, 7, 9, 1, 3, 5, 7, 9, 1, 3, 5, 7, 9)

In [17]:
5 in a

True

In [19]:
3 not in a

False

In [21]:
len(a)

5

### 2. 튜플 메소드
- `len`: 튜플의 길이를 구합니다.
- `sum, min, max`: 튜플의 요소들의 합, 최솟값, 최댓값을 구합니다.
- `in`: 특정 요소가 튜플 안에 있는지 확인합니다.
- `count`: 튜플의 특정 요소의 개수를 반환합니다.
- `index`: 튜플에 요소가 있는 경우 인덱스 값을 반환합니다.
- `join`: 튜플의 요소들을 하나의 문자열로 합칩니다.

In [23]:
dir(tuple)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [25]:
d = (2, 4, 3, 7, 5, 2, 9)
d.count(2)

2

In [27]:
d.index(2)

0

In [29]:
d.index(9)

6

In [31]:
e = (1)
e

1

In [33]:
type(e)

int

In [35]:
f = (2,)                       
f

(2,)

In [37]:
type(f)

tuple

### 3. 리스트와 튜플 비교

In [39]:
# 공통점1 : 
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
my_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [41]:
# 공통점2 : indexing이 가능함
my_list[0]

1

In [43]:
my_tuple[0]

1

In [45]:
# 공통점3 : 

for item in my_list:
    pass

In [47]:
for item in my_tuple:
    pass

In [49]:
# 차이점1 :
my_list[0] = "Hello" 
my_list

['Hello', 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [51]:
my_tuple[0] = "Hello"

TypeError: 'tuple' object does not support item assignment

In [53]:
# 차이점2: 
my_dict = {my_list: "My List!"}

TypeError: unhashable type: 'list'

In [55]:
my_dict = {my_tuple: "My tuple!"}

In [57]:
# 차이점3: iteration을 도는 속도가 튜플이 더 빠르다.
import time

# 큰 리스트와 튜플 생성
my_list = list(range(10_000_000))
my_tuple = tuple(range(10_000_000))

# 리스트 반복 시간 측정
start = time.time()
for item in my_list:
    pass
end = time.time()
print("List iteration time:", end - start)

# 튜플 반복 시간 측정
start = time.time()
for item in my_tuple:
    pass
end = time.time()
print("Tuple iteration time:", end - start)

List iteration time: 0.2946784496307373
Tuple iteration time: 0.292255163192749

In [59]:
# 차이점4: 

k1 = [1, 2, 3]
k2 = list(k1)

In [61]:
k2 is k1

False

In [63]:
t1 = (1, 2, 3)
t2 = tuple(t1)

In [65]:
t1 is t2

True

## **연습문제**

### 1부터 100까지의 정수 중 짝수만 저장된 튜플을 만들어보세요.

In [75]:
t =  tuple(range(2, 101, 2)) # ... code here
print(t)

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100)