# 23_파이썬자료형-복합자료형4(집합)

## **집합이란?**
- 순서가 없고 중복이 없는 자료형입니다.
- 요소들을 중괄호(`{}`)로 감싸면 됩니다.

In [1]:
ss = {2, 3, 4, 5, 9}                
type(ss)

set

In [3]:
ss1 = set()                         
type(ss1)

set

In [5]:
ss2 = {}
type(ss2)

dict

In [7]:
set((1, 2, 3))

{1, 2, 3}

In [9]:
set('abcd')

{'a', 'b', 'c', 'd'}

In [11]:
set([1, 2, 3])

{1, 2, 3}

In [13]:
set((1, 2, 3, 1, 2, 3))

{1, 2, 3}

In [15]:
set({'one' : 1, 'two': 2})

{'one', 'two'}

In [17]:
set([1, 2, 3] * 3)

{1, 2, 3}

In [19]:
a = (1, 2, 3)
b = (4, 5, 6)
{a, b}

{(1, 2, 3), (4, 5, 6)}

In [25]:
# 순서가 없기 때문에 인덱싱이 되지 않음 => 인덱싱을 하고 싶으면 리스트나 튜플로 변환 후 인덱싱을 함
s1[0]

NameError: name 's1' is not defined

In [23]:
# 어떨때 사용하면 좋은가? - 하루 판매된 전체 수량 중.. 종류만 파악하고자 할때

salesList = ['라면', '달걀', '도시락','라면', '삼각김밥','삼각김밥']
...   # ... 코드 입력

Ellipsis

### 집합 메소드 사용하기
- `intersection` or `&`: 교집합
- `difference` or `-` : 차집합
- `union` or `|` : 합집합

![집합](https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2Fb1y9C8%2Fbtq5f3klSVM%2FSaSKy85SeOoiRVbLocFUq0%2Fimg.png)

In [ ]:
ss = {2, 3, 4, 5, 9}   
ss.add(8)

In [ ]:
ss

In [ ]:
ss.discard(5)
ss

In [ ]:
ss.discard(10)           # 없는 수를 삭제했어요 에러 없음
ss

In [ ]:
ss.remove(4)
ss

In [ ]:
ss.remove(10)            # 없는 수를 삭제했어요 에러남
ss

In [ ]:
ss.pop()

In [ ]:

ss.clear()

### 집합 연산

In [ ]:
a = {1, 2, 3, 4, 5, 6}
b = {4, 5, 6, 7, 8, 9}
c = {4, 10}

a.union(b)

In [ ]:
a | b

In [ ]:
a.intersection(b)

In [ ]:
a & b

In [ ]:
a.difference(b)

In [ ]:
a - b

In [ ]:
a.symmetric_difference(b)

In [ ]:
a ^ b

## **연습문제**

### 1. 다음 리스트를 중복제거 후 알파벳 순서대로 정렬해보세요.

In [29]:
list_ex = ['A','B','C','A','B','D','C','D','E','A','F','B']

In [31]:
# code here
sorted(set(list_ex))

['A', 'B', 'C', 'D', 'E', 'F']