# 12_표준 입출력함수

### 1. 표준 출력함수 : print()

In [1]:
print ('hello')

hello

In [3]:
print ("hello")

hello

In [5]:
x = 10; y = 5; z = 7
print(x,y,z)

10 5 7

In [7]:
a = 100 ; b = 200
c = a + b
print('a+b=', a+b)

print('c=',c)

a+b= 300
c= 300

In [9]:
print(a+50)

150

In [11]:
print('hello world!')

hello world!

In [13]:
print('hello', 'world!')

hello world!

In [15]:
print('hello'+'world!')

helloworld!

In [17]:
program = 'python project'
print(program)

python project

In [19]:
program

'python project'

In [21]:
print('hello \
world')

hello world

In [23]:
print('hello \'world\'!!')   # 문자에 '' 나타내고 싶으면 \' 형태로사용

hello 'world'!!

In [25]:
print('hello \"world\"!!')

hello "world"!!

In [27]:
print('hello "world\"')

hello "world"

In [29]:
print("hello 'world'")

hello 'world'

In [31]:
print("hello "world"")

SyntaxError: invalid syntax. Perhaps you forgot a comma? (1147873031.py, line 1)

In [33]:
print('hello\nworld')

hello
world

In [35]:
print('hello\tworld')

hello	world

In [37]:
print('You' 'need' 'python')

Youneedpython

In [39]:
print('You'+'need'+'python')  # '' 로 쌓은 문자열은 + 연산과 동일함

Youneedpython

In [ ]:
print('You', 'need', 'python') # 문자열 띄어쓰기는 콤마로 처리

In [41]:
name = 'Kang' ; score = 95
print('%s got %d score' % (name, score))

Kang got 95 score

In [43]:
print('%10s got %5d score' % (name, score)) #문자:10칸, 정수:5칸

      Kang got    95 score

In [45]:
english_score = 85.7
print('I got %f in English' % (english_score))

I got 85.700000 in English

In [47]:
math = 91.7 ; eng = 85.
print('Math is %6.3f and Eng is %5.2f' % (math, eng))

Math is 91.700 and Eng is 85.00

- %a.bf 소수점을 포함하여 a칸을 잡고 소수점 아래 b자리까지 출력

In [49]:
a = 'hello'; b = 'world'
print(a, end=' ')   # 다음 결과값을 이어서 출력하려면 end 사용
print(b)

hello world

In [51]:
print(a, end='***')
print(b)

hello***world

In [53]:
print(a, end='\t')
print(b)

hello	world

### 2. 표준 입력함수 : input()

In [55]:
x = input('x  값을 입력하세요:')
print(x)

x  값을 입력하세요: 5

5

In [57]:
x

'5'

In [59]:
# x 의 type 파악하기
type(x)      # ... 코드 입력

str

In [61]:
y = input('정수값을 입력하세요:')
y + 10

정수값을 입력하세요: 5

TypeError: can only concatenate str (not "int") to str

In [63]:
# y를 정수형으로 변경하여 연산하기
int(y)  + 10      # ... 코드 입력

15

In [65]:
y = int(input('정수값을 입력하세요:'))
y + 20

정수값을 입력하세요: 5

25

In [67]:
type(y)

int

In [69]:
z = float(input('실수값을 입력하세요:'))
z + 20

실수값을 입력하세요: 5

25.0

In [71]:
type(z)

float