# 11_문자열 다루기

### 1. 문자열 연산하기

In [1]:
a = 'Hello' ; b = 'World'
a + b

'HelloWorld'

In [3]:
a + ' ' + b

'Hello World'

In [5]:
c = 'hello'
c * 3

'hellohellohello'

### 연습문제
- 화면에 * 기호 100개를 표시하세요.

In [9]:
star = '*'
print('*100개:\t', star * 100)   # ... 코드 입력

*100개:	 ****************************************************************************************************

In [11]:
score = 90
'I got ' + score + ' in the exam'

TypeError: can only concatenate str (not "int") to str

In [13]:
score = 90
'I got ' +  str(score) + ' in the exam'

'I got 90 in the exam'

In [15]:
str1 = 'Hello World'
len(str1)                           # 문자열길이 함수: len , 공백포함

11

In [17]:
greeting = 'Good Morning'

In [19]:
'Good' in greeting

True

In [21]:
'good' in greeting

False

In [23]:
'x' in greeting

False

### 2. 인덱싱과 슬라이싱
- 인덱스는 `[]`를 통해 지정할 수 있으며, 첫 번째 위치는 `0`이고, 맨 마지막 위치는 `-1`로도 표현할 수 있습니다.
- `:`를 통해 슬라이싱을 할 수 있습니다.
 - `변수[시작 인덱스:끝 인덱스:간격]`
- 공백도 한 칸을 차지합니다.

In [49]:
greeting = 'Good Morning'
# 인덱싱하기
greeting[0], greeting[5]  # ... 코드 입력

('G', 'M')

In [27]:
# 인덱싱하기 : 음의 인덱스 사용하기
greeting[-1]  # ... 코드 입력

'g'

In [29]:
greeting[0] + greeting[1] + greeting[2] + greeting[3]

'Good'

In [31]:
# 슬라이싱하기  방법1 - 4 이전까지, 3까지
greeting[0:4]  # ... 코드 입력                                     # 4 이전까지, 3까지

'Good'

In [33]:
# 슬라이싱하기  방법2 - 초깃값 지정안하기
greeting[:4]  # ... 코드 입력

'Good'

In [35]:
greeting[5:]  # ... 코드 입력

'Morning'

In [37]:
greeting[1:7]  # ... 코드 입력

'ood Mo'

In [41]:
greeting[:]  # ... 코드 입력

'Good Morning'

### [ 연습문제 ]

In [43]:
a = '20190925Tuesday'

# 년도,월,일 과 요일을 각각 분리해서 출력하세요

date = a[:8]  # ... 코드 입력 
day = a[8:]  # ... 코드 입력 
print(date)
print(day)

20190925
Tuesday

In [45]:
b = 'Pithon'
b[:1] + 'y' + b[2:]                 # 단어 교체할때 사용

'Python'

### 3. 문자열 포맷팅

In [51]:
'I ate %d oranges' %4

'I ate 4 oranges'

In [53]:
num = 4
'I ate %d oranges' % num

'I ate 4 oranges'

In [55]:
num1 = 4
num2 = 'two'
'I ate %d oranges and ate more %s.' % (num1, num2)

'I ate 4 oranges and ate more two.'

In [57]:
'I ate %s oranges' % 'two'

'I ate two oranges'

In [59]:
rate = 30
'Error rate is %d%' % rate

ValueError: incomplete format

In [61]:
'Error rate is %d%%' % rate

'Error rate is 30%'

In [63]:
'I ate %4d oranges' %4

'I ate    4 oranges'

In [65]:
'I ate %4s oranges' %4

'I ate    4 oranges'

In [67]:
'%10.2f' % 3.141592 # 전체길이10개소숫점이하는 2자리만 표시,오른쪽 정렬

'      3.14'

### 4. format 함수를 사용한 포맷팅

In [69]:
'I ate {} oranges'.format(3)

'I ate 3 oranges'

In [71]:
'I ate {0} oranges {1}'.format('three',1)

'I ate three oranges 1'

In [73]:
'I ate {0:>10} oranges'.format('three')   # 오른쪽 정렬

'I ate      three oranges'

In [75]:
'I ate {0:<10} oranges'.format('three')   # 왼쪽 정렬

'I ate three      oranges'

In [77]:
'I ate {0:^10} oranges'.format('three')   # 가운데 정렬

'I ate   three    oranges'

In [79]:
'I ate {0:=^10} oranges'.format('three')   # 공백 채우기

'I ate ==three=== oranges'

In [81]:
number = 3
'I ate {0} oranges'.format(number)
f'I ate {number} oranges'

'I ate 3 oranges'

In [83]:
num1 = 4
num2 = 'two'
'I ate {0} oranges and ate more {1}.'.format(num1, num2)

'I ate 4 oranges and ate more two.'

In [85]:
'I ate {num1} oranges and ate more {num2}.'.format(num1=4, num2='two')

'I ate 4 oranges and ate more two.'

In [87]:
num1 = 4
num2 = 'two'
f'I ate {num1} oranges and ate more {num2}.' # f포매팅함수. 3.6버전이상

'I ate 4 oranges and ate more two.'

### 5. 문자열 객체에 사용하는 메소드

In [89]:
dir(str)              # 문자열객체에 사용하는 메소드-나중에 다시 다룸

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [91]:
a = 'good'    # && = and , &, || or , |
b = 'morning'
print(a and b)

morning

In [93]:
a = ' '
b = 'morning'
print(a or b)

## 6. 문자열 함수 => 실습29 에서 다룸
- `upper`: 대문자로 변환한 값을 출력
- `lower`: 소문자로 변환한 값을 출력
- `lstrip, rstrip, strip`: 공백 제거한 값을 출력
- `count`: 문자열 안의 특정 문자열 개수 세기
- `find`: 문자열 안의 특정 문자열이 처음 나온 위치 반환
 - 문자열이 없으면 -1을 반환
- `index`: `find`와 같으나 문자열이 없으면 오류 발생
- `join`: 특정 문자열을 각각의 문자 사이에 삽입하여 출력
- `split`: 특정 문자열을 기준으로 문자열을 나눈 값을 출력
- `replace`: 특정 문자열을 특정 문자열로 반환
- `startswith, endswith`: 특정 문자열로 시작하는지/끝나는지 확인

### 연습문제

In [95]:
# 다음 문자열을 거꾸로 출력해보세요. : "Strawberry"
sb = "Strawberry"
reversed_sb = sb[::-1]  # ... 코드 입력
print(reversed_sb)

yrrebwartS